body {
    background-image: linear-gradient(to bottom right, slateblue, violet);
    min-height: 100vh;
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
footer {
    background-color: purple;
    color: white;
}
img {
    margin: auto;
    display: block;
    width: 800px;
}
.navbar-custom {
    background-color: purple;
}
.nav-item {
    background-color: violet;
    color: purple;
}
.active {
    background-color: purple;
}
.nav-pills .nav-link.active {
    background-color: slateblue;
}
#gamerAnna {
    width: 200px;
    margin-left: 0px;
}
.whenToWatch {
    background-color: purple;
    color: white;
}
.whatToWatch {
    background-color: slateblue;
    color: violet;
}
.bg-white {
    box-shadow: 0px 10px 5px violet;
}
.robloxGame {
    width: 300px;
    margin-left: 0px;
}
.linkToGames {
    background-color: slateblue;
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 4px;
    padding: 2px;
}
.offcanvas-footer {
    display: flex;
}
.subtotal {
    width: 100%;
    font-size: larger;
}
.checkout {
    display: block;
    width: 100%;
    margin-top: 12px;
}
.invert {filter: invert(100%);}
